---
---

<!-- left-sidebar -->
<div class="left-sidebar">
    <div class="heading">
        <img src="asset/images/logo/logo-william-villalba.svg" class="logo" alt="William Villalba Development">
        <div class="box-status">
            <div class="dot"></div>
            <div class="text-body-2">Available for <span class="number">new projects</span></div>
        </div>
    </div>
    <div class="image">
       <div class="avatar avatar-wrap">
            <img class="lazyload avatar-bg" src="asset/images/avatar/avatar-full.png" data-src="asset/images/avatar/avatar-full.png" alt="villa1013">
            <!-- <img class="lazyload avatar-no-bg" style="display: none;" src="asset/images/avatar/avatar-1.png" data-src="asset/images/avatar/avatar-1.png" alt=""> -->
        </div>
        <img class="lazyload signature" src="asset/images/section/signature-1.png" data-src="asset/images/section/signature-1.png" alt="">
        <!-- <div class="text-signature">Villa1013</div> -->
    </div>
    <div class="infor">
        <h5 class="name letter-spacing-0">William Villalba</h5>
        <h6 class="mail letter-spacing-0">williamvillalba13@gmail.com</h6>
        <div class="text-body-1 address">Frontend Developer / Colombia</div>
        <div class="text-body-1 address">+57 300 631 59 63</div>
    </div>
    <ul class="social-links justify-content-center">
        <li>
            <a href="https://www.linkedin.com/in/williamvillalba/" target="_blank"><i class="icon icon-linkedin-in"></i></a>
        </li>
        <li>
            <a href="https://github.com/villa1013" target="_blank"><i class="icon icon-github"></i></a>
        </li>
        <li>
            <a href="https://www.behance.net/williamvillalba" target="_blank"><i class="icon icon-behance"></i></a>
        </li>
        <li>
            <a href="https://x.com/villa10crack" target="_blank"><i class="icon icon-twitter-x"></i></a>
        </li>
    </ul>
    <a href="#contact" class="bot-button">
        <div class="text-body-1 text">Get Started</div>
        <i class="icon icon-arrow-top-right"></i>
    </a>
</div>
