---
---

<!-- tf-btn-menu -->
<div class="tf-btn-menu">
   <img src="/asset/icons/dashboard.svg" alt="">
</div>
<!-- /tf-btn-menu -->

<!-- tf-sidebar-menu -->
<div class="tf-sidebar-menu tf-canvas">
    <div class="overlay"></div>
    <div class="sidebar-menu-inner">
        <div class="sidebar-wrap">
            <div class="sidebar-heading">
                <div class="heading text-body-1 dot-before">Menu</div>
                <span class="close-canvas">
                    <i class="icon icon-times-solid"></i>
                </span>
            </div>
            <ul class="sidebar-nav nav-scroll">
                <li>
                    <a class="scroll-to active" href="#home">
                        <i class="icon icon-home-solid"></i><span class="text-body-2">Home</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#experience">
                        <i class="icon icon-toolbox-solid"></i><span class="text-body-2">Experience</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#works">
                        <i class="icon icon-tasks-solid"></i><span class="text-body-2">Selected Works</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#services">
                        <i class="icon icon-stream-solid"></i><span class="text-body-2">Services</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#about">
                        <i class="icon icon-user-solid"></i><span class="text-body-2">About</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#testimonial">
                        <i class="icon icon-poll-h-solid"></i><span class="text-body-2">Testimonial</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#partners">
                        <i class="icon icon-user-friends-solid"></i><span class="text-body-2">Partners</span>
                    </a>
                </li>
                <!-- <li>
                    <a class="scroll-to" href="#awards">
                        <i class="icon icon-ring-solid"></i><span class="text-body-2">Awards</span>
                    </a>
                </li> -->
                <li>
                    <a class="scroll-to" href="#pricing">
                        <i class="icon icon-tags-solid"></i><span class="text-body-2">Pricing</span>
                    </a>
                </li>
                <!-- <li>
                    <a class="scroll-to" href="#faqs">
                        <i class="icon icon-comment-alt-solid"></i><span class="text-body-2">FAQs</span>
                    </a>
                </li> -->
                <li>
                    <a class="scroll-to" href="#contact">
                        <i class="icon icon-envelope-solid"></i><span class="text-body-2">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-social">
            <div class="heading text-body-1 dot-before">Social Network</div>
            <ul class="social-links">
                <li>
                    <a href="https://www.linkedin.com/in/williamvillalba/" target="_blank"><i class="icon icon-linkedin-in"></i></a>
                </li>
                <li>
                    <a href="https://github.com/villa1013" target="_blank"><i class="icon icon-github"></i></a>
                </li>
                <li>
                    <a href="https://www.behance.net/williamvillalba" target="_blank"><i class="icon icon-behance"></i></a>
                </li>
                <li>
                    <a href="https://x.com/villa10crack" target="_blank"><i class="icon icon-twitter-x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /tf-sidebar-menu -->
