---
---

<!-- section-about -->
<section class="section-about" id="about">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="heading">
                    <div class="text-body-2 dot-before subtitle fw-medium">About Me</div>
                    <div>
                        <h2 class="fw-medium title text-color-change">Behind every great design is an even greater story</h2>
                        <div class="text-body-2 text">Every design has a starting point, and for truly impactful visuals. It's the narrative that guides the creative process, ensuring the final product resonates with meaning and purpose. We believe that understanding the story is paramount.</div>
                    </div>
                </div>
                <div class="box-playground">
                    <div class="top">
                        <div class="text-body-1 fw-medium instagram-tag">@williamvillalba</div>
                        <div class="box-nav style-1">
                            <div class="nav-sw navigation-prev-playground">
                                <span class="icon icon-angle-left-solid"></span>
                            </div>
                            <div class="nav-sw navigation-next-playground">
                                <span class="icon icon-angle-right-solid"></span>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-swiper">
                        <div class="swiper slider-playground swiper-auto">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-1.jpg" data-lightbox="example-2">
                                        <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-1.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-2.jpg" data-lightbox="example-2">
                                        <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-2.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-3.jpg" data-lightbox="example-2">
                                        <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-3.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-4.jpg" data-lightbox="example-2">
                                        <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-4.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-1.jpg" data-lightbox="example-2">
                                        <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-1.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-2.jpg" data-lightbox="example-2">
                                        <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-2.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-3.jpg" data-lightbox="example-2">
                                        <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-3.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-4.jpg" data-lightbox="example-2">
                                        <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-4.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/section/playground-4.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-about -->
