---
---

<!-- section-process -->
<section class="section-process">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="text-display-2 fw-medium heading split-text effect-right">Work Process</div>
                <div class="swiper slider-process swiper-auto">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="process-item">
                                <div class="content">
                                    <div class="step text-body-2 fw-medium dot-before type-tags">Step 1</div>
                                    <div class="wrap">
                                        <h2 class="fw-medium title">Review <br> The Brief</h2>
                                        <div class="text-body-2 fw-medium text">I created digital products with ideas use Figma</div>
                                    </div>
                                </div>
                                <div class="image">
                                    <div class="gradient-icon gradient-icon-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="process-item">
                                <div class="content">
                                    <div class="step text-body-2 fw-medium dot-before type-tags">Step 2</div>
                                    <div class="wrap">
                                        <h2 class="fw-medium title">Sketch the Wireframe</h2>
                                        <div class="text-body-2 fw-medium text">I created digital products with ideas use Figma</div>
                                    </div>
                                </div>
                                <div class="image">
                                    <div class="gradient-icon gradient-icon-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="process-item">
                                <div class="content">
                                    <div class="step text-body-2 fw-medium dot-before type-tags">Step 3</div>
                                    <div class="wrap">
                                        <h2 class="fw-medium title">Design Progress</h2>
                                        <div class="text-body-2 fw-medium text">I created digital products with ideas use Figma</div>
                                    </div>
                                </div>
                                <div class="image">
                                    <div class="gradient-icon gradient-icon-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="process-item">
                                <div class="content">
                                    <div class="step text-body-2 fw-medium dot-before type-tags">Step 4</div>
                                    <div class="wrap">
                                        <h2 class="fw-medium title">Product <br> Examination</h2>
                                        <div class="text-body-2 fw-medium text">I created digital products with ideas use Figma</div>
                                    </div>
                                </div>
                                <div class="image">
                                    <div class="gradient-icon gradient-icon-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-process -->
