---
---

<!-- section-awards -->
<section class="section-awards" id="awards">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="text-display-2 fw-medium heading split-text effect-right">My Awards</div>
                <div class="list-awards">
                    <div class="award-item scrolling-effect effectLeft">
                        <h6 class="number fw-medium">1</h6>
                        <h6 class="title fw-medium">Awards Site of the Day - Hubfolio</h6>
                        <div class="time text-body-1">3/8/2024</div>
                    </div>
                    <div class="award-item scrolling-effect effectLeft">
                        <h6 class="number fw-medium">2</h6>
                        <h6 class="title fw-medium">Dribbble - Top Dependent Designer of the year</h6>
                        <div class="time text-body-1">3/8/2024</div>
                    </div>
                    <div class="award-item scrolling-effect effectLeft">
                        <h6 class="number fw-medium">3</h6>
                        <h6 class="title fw-medium">CSS Web Design Awards - Site of the Month</h6>
                        <div class="time text-body-1">3/8/2024</div>
                    </div>
                    <div class="award-item scrolling-effect effectLeft">
                        <h6 class="number fw-medium">4</h6>
                        <h6 class="title fw-medium">Top 10 Behance Desinger 2024</h6>
                        <div class="time text-body-1">3/8/2024</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-awards -->
