---
---

<!-- section-partners -->
<section class="section-partners" id="partners">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="text-body-2 dot-before subtitle">Clients</div>
                <h2 class="desc text-color-change text-tab">
                    <span></span> Haven offers more than just a place to live it’s a space designed to reflect your unique style inspiration 
                </h2>
                <div class="swiper slider-partners swiper-auto">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="partners-item">
                                <img src="asset/images/partners/logo_zm.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners-item">
                                <img src="asset/images/partners/Union.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners-item">
                                <img src="asset/images/partners/archin.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners-item">
                                <img src="asset/images/partners/Symbol.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners-item">
                                <img src="asset/images/partners/Github_logo.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-partners -->
