---
---

<!-- section-services -->
<div class="section-services" id="services">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="section-services-inner">
                    <div class="text-body-2 dot-before subtitle">My Services</div>
                    <div class="services-wrap accordion-wrap" id="accordion-services">
                        <div class="item active accordion-item" data-bs-toggle="collapse" role="button" 
                            data-bs-target="#collapse-services-1" aria-expanded="true" aria-controls="collapse-services-1">
                            <div class="heading accordion-head">
                                <div class="icon">
                                    <i class="icon-pen-nib-solid"></i>
                                </div>
                                <div class="text-display-2 title fw-medium">
                                    <div class="split-text effect-right">Graphic Design</div>
                                    <span class="text-body-1">(01)</span>
                                </div>
                            </div>
                            <div id="collapse-services-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-services">
                                <div class="list-text">
                                    <div class="text sub-heading">Typography & Color Systems</div>
                                    <div class="text sub-heading">Logo Design</div>
                                    <div class="text sub-heading">Brand Guidelines</div>
                                </div>
                            </div>
                        </div>
                        <div class="item collapsed accordion-item" data-bs-toggle="collapse" role="button" 
                            data-bs-target="#collapse-services-2" aria-expanded="true" aria-controls="collapse-services-2">
                            <div class="heading accordion-head">
                                <div class="icon">
                                    <i class="icon-ribbon-solid"></i>
                                </div>
                                <div class="text-display-2 title fw-medium">
                                    <div class="split-text effect-right">UI/UX Design</div>
                                    <span class="text-body-1">(02)</span>
                                </div>
                            </div>
                            <div id="collapse-services-2" class="accordion-collapse collapse" data-bs-parent="#accordion-services">
                                <div class="list-text">
                                    <div class="text sub-heading">Iconography </div>
                                    <div class="text sub-heading">Imagery & Photography Style</div>
                                    <div class="text sub-heading">Grid & Layout Systems</div>
                                </div>
                            </div>
                        </div>
                        <div class="item collapsed accordion-item" data-bs-toggle="collapse" role="button" 
                            data-bs-target="#collapse-services-3" aria-expanded="true" aria-controls="collapse-services-3">
                            <div class="heading accordion-head">
                                <div class="icon">
                                    <i class="icon-crop-alt-solid"></i>
                                </div>
                                <div class="text-display-2 title fw-medium">
                                    <div class="split-text effect-right">Webflow Dev</div>
                                    <span class="text-body-1">(03)</span>
                                </div>
                            </div>
                            <div id="collapse-services-3" class="accordion-collapse collapse" data-bs-parent="#accordion-services">
                                <div class="list-text">
                                    <div class="text sub-heading">UI Components Library</div>
                                    <div class="text sub-heading">Motion & Animation Guidelines</div>
                                    <div class="text sub-heading">Design Tokens</div>
                                </div>
                            </div>
                        </div>
                        <div class="item collapsed accordion-item" data-bs-toggle="collapse" role="button" 
                            data-bs-target="#collapse-services-4" aria-expanded="true" aria-controls="collapse-services-4">
                            <div class="heading accordion-head">
                                <div class="icon">
                                    <i class="icon-chess-knight-solid"></i>
                                </div>
                                <div class="text-display-2 title fw-medium">
                                    <div class="split-text effect-right">Framer Dev</div>
                                    <span class="text-body-1">(04)</span>
                                </div>
                            </div>
                            <div id="collapse-services-4" class="accordion-collapse collapse" data-bs-parent="#accordion-services">
                                <div class="list-text">
                                    <div class="text sub-heading">Social Media Guidelines</div>
                                    <div class="text sub-heading">Brand Architecture</div>
                                    <div class="text sub-heading">Print Assets</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="more-infor">
                        <div class="worldwide text-body-2">
                            <i class="icon icon-global"></i>
                            Available to <span>Worldwide</span>
                        </div>
                        <a class="text-body-1 link" href="#contact">
                            Contact me
                            <i class="icon icon-arrow-top-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-gradient1 img_bg-2"></div>
<!-- /section-services -->
