---
---

<!-- section-selected-works -->
<section class="section-selected-works" id="works">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="banner-slider">
                    <div class="text-container scroll-banners effect-right">
                        <span class="banner-text text-display-2 fw-medium">Selected Work</span>
                        <span class="banner-img"><span class="dot-circle"></span></span>
                        <span class="banner-text text-display-2 fw-medium">Selected Work</span>
                        <span class="banner-img"><span class="dot-circle"></span></span>
                        <span class="banner-text text-display-2 fw-medium">Selected Work</span>
                        <span class="banner-img"><span class="dot-circle"></span></span>
                        <span class="banner-text text-display-2 fw-medium">Selected Work</span>
                        <span class="banner-img"><span class="dot-circle"></span></span>
                        <span class="banner-text text-display-2 fw-medium">Selected Work</span>
                        <span class="banner-img"><span class="dot-circle"></span></span>
                        <span class="banner-text text-display-2 fw-medium">Selected Work</span>
                        <span class="banner-img"><span class="dot-circle"></span></span>
                    </div>
                </div>
                <div class="works-wrap">
                    <div class="works-item scrolling-effect effectLeft">
                        <a class="image" href="asset/images/section/works-1.jpg" data-lightbox="example-1">
                            <img class="lazyload" src="asset/images/section/works-1.jpg" data-src="asset/images/section/works-1.jpg" alt="">
                        </a>
                        <div class="content">
                            <div class="infor">
                                <div class="sub-heading sub">Website Dev</div>
                                <h3 class="title">
                                    <a href="#">Rumbo Terpel</a>
                                </h3>
                                <a href="#" class="link date text-body-2 type-tags">May 2024</a>
                            </div>
                            <a href="#" class="btn-links">
                                <i class="icon icon-arrow-top-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="works-item scrolling-effect effectLeft">
                        <a class="image" href="asset/images/section/works-2.jpg" data-lightbox="example-1">
                            <img class="lazyload" src="asset/images/section/works-2.jpg" data-src="asset/images/section/works-2.jpg" alt="">
                        </a>
                        <div class="content">
                            <div class="infor">
                                <div class="sub-heading sub">Mobile App Design</div>
                                <h3 class="title">
                                    <a href="#">X-direct Mobile</a>
                                </h3>
                                <a href="#" class="link date text-body-2 type-tags">May 2024</a>
                            </div>
                            <a href="#" class="btn-links">
                                <i class="icon icon-arrow-top-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="works-item scrolling-effect effectLeft">
                        <a class="image" href="asset/images/section/works-3.jpg" data-lightbox="example-1">
                            <img class="lazyload" src="asset/images/section/works-3.jpg" data-src="asset/images/section/works-3.jpg" alt="">
                        </a>
                        <div class="content">
                            <div class="infor">
                                <div class="sub-heading sub">Website Design</div>
                                <h3 class="title">
                                    <a href="#">UIXDR Agency Website</a>
                                </h3>
                                <a href="#" class="link date text-body-2 type-tags">May 2024</a>
                            </div>
                            <a href="#" class="btn-links">
                                <i class="icon icon-arrow-top-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="box-gradient1 img_bg-1"></div>
<!-- /section-selected-works -->
