---
---

<!-- section-testimonial -->
<section class="section-testimonial" id="testimonial">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="section-testimonial-inner">
                    <div class="text-body-2 dot-before subtitle fw-medium">Testimonial</div>
                    <div class="testimonial-wrap">
                        <div class="swiper slider-testimonial">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <h3 class="fw-medium text">“ A studio with passionate, professional and full creativity. Much more than i’m expect. Great services, high quality products & affordable. ”</h3>
                                </div>
                                <div class="swiper-slide">
                                    <h3 class="fw-medium text">“ A little universe of inspiration — where passion meets professionalism and creativity knows no bounds. Exceptional service, stunning products that made me go 'wow' at first glance, and prices that make you smile! ”</h3>
                                </div>
                                <div class="swiper-slide">
                                    <h3 class="fw-medium text">“ This studio is on another level! Super creative, totally pro, and packed with good vibes. Loved the service, obsessed with the quality — and the prices? Totally worth it! ”</h3>
                                </div>
                            </div>
                            <div class="box-nav style-2">
                                <div class="nav-sw navigation-prev-testimonial">
                                    <span class="icon icon-angle-left-solid"></span>
                                </div>
                                <div class="swiper-pagination pagination-testimonial"></div>
                                <div class="nav-sw navigation-next-testimonial">
                                    <span class="icon icon-angle-right-solid"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customer-wrap">
                        <div class="swiper slider-customer">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="customer-info">
                                        <div class="image">
                                            <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/avatar/avatar-2.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/avatar/avatar-2.jpg" alt="">
                                        </div>
                                        <div class="content">
                                            <h6 class="name fw-medium">
                                                <a href="#" class="link">Lewis Jones</a>
                                            </h6>
                                            <div class="text-body-2 info">Ceo of Avade Inc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="customer-info">
                                        <div class="image">
                                            <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/avatar/avatar-3.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/avatar/avatar-3.jpg" alt="">
                                        </div>
                                        <div class="content">
                                            <h6 class="name fw-medium">
                                                <a href="#" class="link">jayden</a>
                                            </h6>
                                            <div class="text-body-2 info">Ceo of Avade Inc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="customer-info">
                                        <div class="image">
                                            <img class="lazyload" src="https://wpriverthemes.com/HTML/jayden/asset/images/avatar/avatar-4.jpg" data-src="https://wpriverthemes.com/HTML/jayden/asset/images/avatar/avatar-4.jpg" alt="">
                                        </div>
                                        <div class="content">
                                            <h6 class="name fw-medium">
                                                <a href="#" class="link">Musk</a>
                                            </h6>
                                            <div class="text-body-2 info">Ceo of Avade Inc</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-testimonial -->
