---
---

<!-- section-tech-stack -->
<section class="section-tech-stack">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="text-display-2 fw-medium heading split-text effect-right">Tech Stack</div>
                <div class="swiper slider-tech-stack">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tech-stack-item">
                                <h3 class="fw-medium title">Figma</h3>
                                <div class="image">
                                    <img src="https://wpriverthemes.com/HTML/jayden/asset/images/section/figma.png" alt="">
                                </div>
                                <div class="text-body-1">Leading collaborative design <br> tool</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tech-stack-item">
                                <h3 class="fw-medium title">Loom</h3>
                                <div class="image">
                                    <img src="https://wpriverthemes.com/HTML/jayden/asset/images/section/loom.png" alt="">
                                </div>
                                <div class="text-body-1">Leading collaborative design tool</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tech-stack-item">
                                <h3 class="fw-medium title">Framer</h3>
                                <div class="image">
                                    <img src="https://wpriverthemes.com/HTML/jayden/asset/images/section/framer.png" alt="">
                                </div>
                                <div class="text-body-1">Leading collaborative design tool</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tech-stack-item">
                                <h3 class="fw-medium title">Slack</h3>
                                <div class="image">
                                    <img src="https://wpriverthemes.com/HTML/jayden/asset/images/section/slack.png" alt="">
                                </div>
                                <div class="text-body-1">Leading collaborative design tool</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tech-stack-item">
                                <h3 class="fw-medium title">Monday</h3>
                                <div class="image">
                                    <img src="https://wpriverthemes.com/HTML/jayden/asset/images/section/monday.png" alt="">
                                </div>
                                <div class="text-body-1">Leading collaborative design tool</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination pagination-tech-stack"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-tech-stack -->
