---
---

<!-- section-pricing -->
<section class="section-pricing" id="pricing">
    <div class="tf-container wg-tabs">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="heading">
                    <div class="text-display-2 fw-medium title split-text effect-right">My Pricing</div>
                    <div class="menu-tab style-1">
                        <div class="item sub-heading active">Standard Plan</div>
                        <div class="item sub-heading">Premium Plan</div>
                    </div>
                </div>
                <div class="widget-content-tab">
                    <div class="widget-content-inner active">
                        <div class="pricing-item wow fadeInUp">
                            <div class="top">
                                
                                <h6 class="dot-before fw-medium title">Standard Plan</h6>
                                <div class="text-body-1 fw-medium text">Have design ready to build? Or small budget?</div>
                                <div class="price">
                                    <div class="text-display-2 fw-medium number">$49</div>
                                    <span>/ hours</span>
                                </div>
                            </div>
                            <div class="list-desc">
                                <div class="desc text-body-1">Need your wireframe</div>
                                <div class="desc text-body-1">Design with Figma, Framer</div>
                                <div class="desc text-body-1">Implement with Webflow, React, WordPress, Laravel/PHP</div>
                                <div class="desc text-body-1">Remote/Online</div>
                                <div class="desc text-body-1">Work in business days, no weekend.</div>
                                <div class="desc text-body-1">Support 6 months</div>
                            </div>
                            <div class="bot-btn">
                                <a href="#contact" class="text-body-2 fw-medium">
                                    Get Started
                                    <i class="icon icon-arrow-top-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-inner">
                        <div class="pricing-item">
                            <div class="top">
                                
                                <h6 class="dot-before fw-medium title">Premium Plan</h6>
                                <div class="text-body-1 fw-medium text">Have design ready to build? Or small budget?</div>
                                <div class="price">
                                    <div class="text-display-2 fw-medium number">$99</div>
                                    <span>/ hours</span>
                                </div>
                            </div>
                            <div class="list-desc">
                                <div class="desc text-body-1">Need your wireframe</div>
                                <div class="desc text-body-1">Design with Figma, Framer</div>
                                <div class="desc text-body-1">Implement with Webflow, React, WordPress, Laravel/PHP</div>
                                <div class="desc text-body-1">Remote/Online</div>
                                <div class="desc text-body-1">Work in business days, no weekend.</div>
                                <div class="desc text-body-1">Support 12 months</div>
                            </div>
                            <div class="bot-btn">
                                <a href="#contact" class="text-body-2 fw-medium">
                                    Get Started
                                    <i class="icon icon-arrow-top-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
               <a href="#contact" class="custom-quote fw-medium h3 wow fadeInUp" data-wow-delay="0.1s">
                    Custom Quote
                    <i class="icon icon-arrow-top-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /section-pricing -->
