---
---

<!-- section-experiences -->
<section class="section-experiences" id="experience">
    <div class="tf-container">
        <div class="row">
            <div class="offset-xxl-5 col-xxl-7 offset-xl-4 col-xl-7 offset-lg-2 col-lg-8">
                <div class="text-body-2 dot-before subtitle">Experiences</div>
                <h2 class="desc text-color-change text-tab">
                    <span></span> I will offers more than just a place to live it’s a space designed to reflect your unique style inspiration 
                </h2>
                <div class="experiences-wrap">
                    <div class="item scrolling-effect effectLeft">
                        <div class="sub-heading text">Drake</div>
                        <div class="job-title">
                            <h6 class="title">Product Designer</h6>
                            <div class="text-body-2 time-line type-tags">2022 - 2023</div>
                        </div>
                    </div>
                    <div class="item scrolling-effect effectLeft">
                        <div class="sub-heading text">Minus</div>
                        <div class="job-title">
                            <h6 class="title">Product Designer</h6>
                            <div class="text-body-2 time-line type-tags">2022 - 2023</div>
                        </div>
                    </div>
                    <div class="item scrolling-effect effectLeft">
                        <div class="sub-heading text">Avox Studio</div>
                        <div class="job-title">
                            <h6 class="title">Product Designer</h6>
                            <div class="text-body-2 time-line type-tags">2022 - 2023</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-experiences -->
